@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    overflow: hidden;
    margin: 0;
    padding-top: 5rem;
    background: #D0D6D3;
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    width: 600px;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.caption {
    width: 150px;
    box-shadow: 4px 4px 9px rgba(230, 140, 180, 0.42);
    border-radius: 20px;
    padding: 0.8rem 1rem;
    color: #EAF0F5;
    text-align: center;
}
.object {
    width: 150px;
    height: 70px;
    border: 1px solid #EAF0F5;
    box-shadow: 4px 4px 9px rgba(230, 140, 180, 0.42);
    border-radius: 20px;
    background: #A9ABAA;
    padding: 0.8rem 1rem;
    color: #808080;
    text-align: center;
    cursor: grab;
}
.object:active {
    cursor: grabbing;
}
.placeholder {
    width: 150px;
    height: 70px;
}
.start {
    background: linear-gradient(50deg, #F20F7D 0%, #F2870F 100% );
}
.progress {
    background: linear-gradient(65deg, #F2870F 0%, #FFCF00 100% );
}
.done {
    background: linear-gradient(65deg, #FFCF00 0%, #0EB927 100% );
}
